{% extends 'AppCoder/padre.html' %}

{% block title %}
En este bloque se podrá registrar profesores nuevos.
{% endblock %}

{% block form %}

<form action="/AppCoder/crearProfesor/" method="POST"> {% csrf_token %}


    <p> Nombre: <input type="text" name="nombre"></p>
    <p> Apellido: <input type="text" name="apellido"></p>
    <p> Email: <input type="text" name="email"></p>
    <p> Profesión: <input type="text" name="profesion"></p>
    
    
    <input type="submit" value="Guardar">
    
    </form>

{% endblock %}