{% extends 'AppCoder/padre.html' %}

{% block title %}
Resultado de la busqueda de alumnos.
{% endblock %}

{% block form%}

    {% if lista_estudiantes %}
        <ol>
            {% for estudiante in lista_estudiantes %}
            <li> 
                Nombre y Apellido : {{estudiante.nombre}}
                {{estudiante.apellido}},
                Edad del estudiante : {{estudiante.edad}}
            </li>
            {% endfor %}
        </ol>
        {% else %}
            <h3>

                No hay resultados que coincidan con tu busqueda.

            </h3>
    {% endif %}
{%endblock%}