{% extends 'AppCoder/padre.html' %}

{% block title %}
Resultado de la busqueda de los entregables:
{% endblock %}

{% block form%}

    {% if lista_estudiantes %}
        <ol>
            {% for estudiante in lista_estudiantes %}
            <li> 
                Nombre y Apellido : {{estudiante.nombre}},
                fecha de entrega : {{estudiante.fecha_entrega}},
                estado : {{estudiante.estado}}
            </li>
            {% endfor %}
        </ol>
        {% else %}
            <h3>

                No hay resultados que coincidan con tu busqueda.

            </h3>
    {% endif %}
{%endblock%}