{% extends 'AppCoder/padre.html' %}

{% block title %}
Esta es la lista de todos los profesores registrados en el sistema:
{% endblock %}

{% block form%}

        <ol>

            {% for profesor in todosLosProfesores %}
            <li> 
                Nombre y Apellido : {{profesor.nombre}}
                {{profesor.apellido}},
                Profesión : {{profesor.profesion}}
            </li>
            <a class="btn btn-dark btn-l" href="{% url 'actualizarProfesor' profesor.nombre %}">Actualizar</a>
            <a class="btn btn-dark btn-l" href="{% url 'eliminarProfesor' profesor.nombre %}">Eliminar</a>
            {% endfor %}
        </ol>

{%endblock%}