{% extends 'AppCoder/padre.html' %}

{% block title %}
Esta es la lista de todos los estudiantes registrados en el sistema:
{% endblock %}

{% block form %}

        <ol>

            {% for estudiante in todosLosEstudiantes %}
            <li> 
                Nombre y Apellido : {{estudiante.nombre}}
                {{estudiante.apellido}},
                Edad : {{estudiante.edad}}
            </li>
            <a class="btn btn-dark btn-l" href="{% url 'eliminarEstudiante' estudiante.nombre %}">Eliminar</a>
            {% endfor %}
        </ol>

{%endblock%}